.contact-section {
    padding-top: 3rem;
    background-color: $blue;
    padding-bottom: 1rem;

    .contact {
        display: flex;
        gap: 10%;

        .contact-text {
            width: 40%;
        }
    }

    form {
        border: 3px solid $pink;
        border-radius: 30px;
    }
}