// // general form style

input,
textarea,
form button {
    background-color: $off-white;
    border: 3px solid $light-pink;
}

input { 
    border-radius: 10px;
    width: 45%;
    height: 2rem;
    margin: 2% auto;
    padding: 10px;
}

textarea {
    resize: none;
    border-radius: 10px;
    width: 95%;
    height: 12rem;
    margin: auto;
    padding: 10px;
}

form button {
    width: 20%;
    border-radius: 10px;
    height: 30px;
    margin: 2% auto;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}