.projects {
    padding-bottom: 2%;

    h2,
    h3,
    p {
        text-align: center;
    }

    

    .projects-img {
        display: flex;
        flex-wrap: wrap; 

        h3,
        p,
        p a,
        i {
            color: $off-white;
        }

        .imgContainer {
            position: relative;
            display: flex;
            gap: 2%;

            img {
                width: 40%;
            }

            .overlay {
                position: absolute;
                width: 40%;
                background: rgba(0, 0, 0, 0.8); /* Black see-through */
                height: 100%;
                padding: 0.8rem;
                opacity: 0;
                display: none;
            }

            .toolsUsed {
                display: flex;
                gap: 5%;
                justify-content: center;
    
                li {
                    background-color: $blue;
                    border: 1px solid;
                    border-radius: 20px;
                    padding: 5px 10px 5px 10px;
                }
            }
    
            .viewProjects {
                display: flex;
                gap: 5%;
                justify-content: center;
    
                button {
                    border-radius: 5px;
                    padding: 3px;
                    background-color: $light-pink;
    
                    a {
                        text-decoration: none;
                    }
                    
                }
            }
        }
        
        .active {
            opacity: 1;
            display: block;
        }
        
    }

}
